<div class="d-flex justify-content-end my-2">
  <%= link_to follows_user_path(user.id), class: 'btn btn-info' do %>
    フォロー数：<%= user.followings.count %>
  <% end %>
  <%= link_to followers_user_path(user.id), class: 'btn btn-secondary' do %>
    フォロワー数：<%= user.followers.count %>
  <% end %>
</div>