<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<h1 class="text-center my-3">気になる投稿やスポットを探そう！</h1>

<div class="container my-3">
  <div id="map"></div>
</div>

