<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!--戻るボタン-->
  <span class="ml-3">
    <%= link_to 'Back', :back, class: 'btn btn-secondary py-2 px-3', style: 'font-size:1.3rem' %>
  </span>

<h1 class="text-center my-3">気になる投稿やスポットを探そう！</h1>

<div class="container my-3">
  <div id="map"></div>
</div>

