<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<!--戻るボタン-->
<%= render '../views/layouts/back_btn' %>

<!--タイトル-->
<h1 class="text-center my-3">気になる投稿やスポットを探そう！</h1>

<!--全投稿をマーカーをつけて地図の表示-->
<div class="container my-3">
  <div id="map"></div>
</div>

