<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<h1 class="text-center my-3">Map表示</h1>

<div class="container my-3">
  <div id="map"></div>
</div>

<%= javascript_pack_tag 'map_index', 'data-turbolinks-track': 'reload' %>
