<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<h1 class="text-center my-3">Map表示</h1>

<div class="container my-3">
  <div id="maps"></div>
</div>

<!--parameterから投稿記事のidを取得する-->
<script>
  const tripId = <%= params[:id] %>
  // console.log(tripId); // デバッグ用に追加
</script>

<%= javascript_pack_tag 'map_show', 'data-turbolinks-track': 'reload' %>
