<h1>Public::Homes#about</h1>
<p>Find me in app/views/public/homes/about.html.erb</p>



    <div class="mb-4 text-center">
      <p>ゲストログインについて</p>
      <span>※投稿された記事の閲覧やユーザーを閲覧することができます。</span>
      <span>新規投稿やチャットをするには、新規登録が必要です。</span>
    </div>