<%= stylesheet_link_tag 'public_homes', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container d-flex flex-column justify-content-center">

  <div class="top_image text-center">
    <h1 class="text-light p-3">全ての始まりTOP画面です</h1>
    <p class="text-light">試しに使ってみよう！</p>
  </div>
  <div>
    <%= link_to "ゲストログイン(閲覧用)", guest_sign_in_users_path, method: :post, class: "btn btn-light text-black border btn-sm btn-block sign_in my-3" %>
  </div>

</div>