*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

// ヘッダー下に隠れないように固定で設定する
main{
  margin-top: 100px;
}

// フラッシュメッセージのスタイル
// =======================================================
// 新規登録画面でのフラッシュ
.registration_alert-message{
  color: white;
  background-color: #FF8856;
  height: 50px;
  text-align: center;
  margin: 30px 0px;
}

// 処理が成功した時にフラッシュ
.success_notice{
  background-color: #CBFFD3	;
  height: 50px;
  text-align: center;
  margin: 30px 0px;
  font-size: 1.3rem;
  font-weight: bold;
}

// 処理失敗時のフラッシュ
.fail_notice{
  background-color: #FF8856;
  color: white;
  height: 50px;
  text-align: center;
  margin: 30px 0px;
  font-size: 1.3rem;
  font-weight: bold;
}

// ゲストユーザーがアクセスできないページへアクセスしたときのフラッシュ
.guest_limit_notice{
  background-color: #99CC66;
  color: white;
  height: 50px;
  text-align: center;
  margin: 30px 0px;
  font-size: 1.3rem;
  font-weight: bold;
}

// 退会したユーザーへのフラッシュ
.withdraw_notice{
  background-color: #FFCC33;
  height: 50px;
  text-align: center;
  margin: 30px 0px;
  font-size: 1.3rem;
  font-weight: bold;
}
// ===============================================

.favorite_index{
  width: 300px;
  height: 60px;
}

.chat_index{
  width: 300px;
  height: 60px;
  padding-top: 15px;

}

.favorite_index:hover{
  background-color: #FFDDFF;
  transition: background-color 0.5s;
}

.chat_index:hover{
  background-color: #FFDDFF;
  transition: background-color 0.5s;
}


// chatページ
label {
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;

    i {
      font-size: 20px;
      color: #333;
    }
}

// 地図の表示するサイズ
#map, #maps, #region_map, #trip_new_map{
  width: 100%;
  height: 500px;
}

// 管理者側 円グラフのサイズ調整
#chart {
  width: 500px;
  height: 300px;
}


// ======================================================
// ページネーションに関するスタイル
.pagination-container {
  text-align: center;
  margin: 20px 0;
}

.pagination_admin {
  display: inline-block;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.pagination_admin li {
  display: inline;
  margin: 0 5px;
}

.pagination_admin a,
.pagination_admin span {
  color: #007bff;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s;
}
.pagination_admin a {
  border: 1px solid black;
}

.pagination_admin a:hover {
  background-color: #99FFFF;
}
// ===============================================================

// 新規登録画面のスタイル(public/user/registration)
// ==============================================================
// エラー文が左上で固定されて表示 & スクロールしてもついてくる仕様にする
.error-column {
  position: sticky; /* スクロール時に固定 */
  top: 100px; /* ヘッダーの高さに合わせて調整 */
  z-index: 10; /* 他の要素の上に表示 */
  padding: 10px;
}

.alert {
  margin-bottom: 0; /* エラーメッセージの下の余白をなくす */
}

.text-left {
  text-align: left; /* 左揃え */
}
// ==============================================================


// =========================================================
// チャット画面でのcss
  /* チャット表示エリアのスタイル */
  .chat-container {
    display: flex;
    flex-direction: column;
    height: 600px; /* 高さは必要に応じて調整 */
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    overflow-y: auto; /* スクロールを有効にする */
  }

  /* チャットメッセージ表示エリア */
  .message {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
    background-color: #f9f9f9;
  }

  /* 入力フォームエリア */
  .chat-input {
    border-top: 1px solid #ccc;
    padding: 10px;
    background-color: white;
  }

  /* 全体のチャットフォームの配置 */
  .chat-form {
    display: flex;
    align-items: center; /* 垂直方向に中央揃え */
  }

  /* チャットフォーム全体を画面の右側に固定 */
  .chat-form-container {
  position: fixed;  /* 画面に固定 */
  right: 100;         /* 画面右端に配置 */
  bottom: 500;        /* 画面下端に配置 */
  width: 300px;     /* 必要に応じて幅を調整 */
  padding: 10px;
  background-color: white; /* 背景色（必要に応じて変更） */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 影を追加して視認性を向上 */
  z-index: 1000;    /* 他の要素より前面に表示 */
  border: 1px solid #ddd; /* 境界線 */
}

// trip_show タグのスタイル設定
// =====================================
.trip_image_tag {
  background-color: #6633FF;
  font-weight: 500;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.trip_title{
  background-color: #FFDBC9;
}
.trip_explain{
  background-color: #EDFFBE;
}

// =========================================

// admin_trip_indexページ
// ========================================
.admin_trip_user_name{
  vertical-align: middle;
  display: flex;
  align-items: center;
}
// =========================================

// trip_index 投稿一覧の画像サイズを固定する
// =========================================
.fixed-size{
  width: 350px;
  height: 250px;
  object-fit: fill; //要素のサイズを画像で埋める 伸縮させる
}

.left{
    width: 160px; /* 表が少しずれるのを防止 幅の設定*/
}
// =========================================



// レスポンシブ対応

/* chat画面 1000px以下の場合のスタイル */
@media (max-width: 1000px) {
  .chat-form-container {
    position: fixed;
    right: 0;  /* 右端にくっつける */
    left: 0;   /* 左端にくっつける */
    bottom: 0; /* 画面下部に配置 */
    width: 100%;  /* 幅を100%に */
    padding: 5px;
    box-shadow: none; /* ボックスシャドウを削除 */
    border: none; /* 境界線を削除 */
    background-color: #fff; /* 背景色を変更 */
  }
}

@media (max-width: 1000px) {
  .chat-container-col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

// trip_indexレスポンシブ対応 smサイズで画面幅いっぱいに使うように指示
 @media (max-width: 576px) {
  .responsive_fluid {
    width: 100% !important; /* 後に読み込むBootstrapの影響を受けるためimportantを入れる */
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (max-width: 768px) {
  .flex-column-md-responsive {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .responsive_about_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* 縦方向に中央に配置するための高さ */
    padding: 20px; /* スマホ用の余白調整 */
  }
}

@media (max-width: 768px) {
  .row-reverse {
    display: flex;
    flex-direction: column-reverse; /* 要素の順番を逆にする */
  }
}