// 自動スクロール用のスタイル
// kaminariを表示しない
// =========================================
.pagination {
    display: none; /* 要素自体を表示しない */
  }

  .container {
    width: 1140px; /* 固定幅の設定 */
  }

  .jscroll-inner {
    width: 100%; /* 幅の調整 */
  }
// =========================================

