
.profile_image{
  background-color: yellow;
  height: 200px;
}

.basic_info{
  background-color: green;
  color: white;
}

.language{
  height: 300px;
  background-color: blue;
  color: white;
}

.content{
  background-color: limegreen;
  color: white;
}

.sub_image{
  background-color: gray;
  color: white;
}

.posts{
  background-color: black;
  color: white;
}

// user_show スライドショーへのボタン(各画像をリンクにしている部分 buttonタグのデフォルト設定を廃止)
  .user_slideshow-button {
    background: none; /* 背景を削除 */
    border: none; /* ボーダーを削除 */
    padding: 0; /* パディングを削除 */
    cursor: pointer; /* カーソルをポインターに変更 */
}



// レスポンシブ対応 user_show
@media (max-width: 768px) {
  /* nth-child(even)を使って偶数番目の要素に対して適用 2番目の要素にmargin-topを入れる */
  .responsive-margin > *:nth-child(even) {
    margin-top: 20px; /* 必要に応じて値を調整 */
  }
}