 <div class="row">
    <div class="col-8 mx-auto text-right">
      <%= form_with model: [trip, trip_comment] do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントを入力してください", class: 'form-control border-info mb-4' %>
        <%= f.submit "送信する", class: "btn btn-dark text-light" %>
      <% end %>
    </div>
  </div>
